html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


#root {
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
  background-color: #4A70A9;
  border: 30px solid black;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}

