html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 5vh auto;
  padding: 2rem;
  background-color: #4A70A9;
  border: 30px solid black;
  text-align: center;
  box-sizing: border-box;

  max-height: 90vh;
  overflow: hidden;
  border-radius: 20px;
}
