#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #4A70A9;
  border: 30px solid black;
}

span {
  margin-bottom: 2rem;
  font-size: 2.7rem;
}

.read-the-docs {
  color: #888;
}